/* estilos.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);

}

.celda {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    
}
/* Estilo para eliminar el borde superior de las 3 primeras celdas horizontales y unir los bordes */
.celda:nth-child(-n+3) {
    border-top: none;
    border-bottom: 5px solid black; /* Grosor mayor y color de borde */
}

/* Estilo para eliminar el borde inferior de las 3 últimas celdas horizontales y unir los bordes */
.celda:nth-last-child(-n+3) {
    border-bottom: none;
    border-top: 5px solid black; /* Grosor mayor y color de borde */
}

/* Estilo para eliminar el borde superior de las 3 primeras celdas verticales y unir los bordes */
.celda:nth-child(3n + 1) {
    border-left: none;
    border-right: 5px solid black; /* Grosor mayor y color de borde */
}

/* Estilo para eliminar el borde inferior de las 3 últimas celdas verticales y unir los bordes */
.celda:nth-child(3n) {
    border-right: none;
    border-left: 5px solid black; /* Grosor mayor y color de borde */
}

.celda:hover {
    background-color: rgba(0, 0, 0, 0.09); /* Fondo transparente con un valor  (0.3) para transparencia */
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px
}
div{
    justify-content: center;  
}